body{ 
	margin: 20;  background: linear-gradient(to bottom, #2A4A6A, #75A9D1, #4A6A6A, #A8C8E8);
}
header{
	color: ghostwhite; text-align: center;
}
main img{
	border-radius: 150px;
	width: 300px;
	height: 300px;
	border: 8px solid teal;
}